<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.sgtu.judge.auth.mapper.UserMapper">
    <resultMap id="UserMap" type="ltd.sgtu.judge.auth.entity.User">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="tfa" column="tfa" jdbcType="TINYINT" javaType="Boolean"/>
        <result property="tfaKey" column="tfa_key" jdbcType="VARCHAR"/>
        <result property="role" column="role" jdbcType="INTEGER"/>
    </resultMap>
    <select id="findAll" resultMap="UserMap">
        SELECT * FROM `user`
    </select>
    <select id="getById" resultMap="UserMap">
        SELECT * FROM `user` WHERE id = #{id}
    </select>
</mapper>
